<head>
    <meta charset='utf-8'>
    <title>Game</title>
    
    <script type="text/javascript" src="libs/love.js"></script>
    <script type="text/javascript" src="libs/classist.js"></script>
    <script type="text/javascript" src="basecode/utils.js"></script>
    <script type="text/javascript" src="basecode/tween.js"></script>
    <script type="text/javascript" src="basecode/debug.js"></script>
    <script type="text/javascript" src="basecode/input.js"></script>
    <script type="text/javascript" src="basecode/group.js"></script>
    <script type="text/javascript" src="basecode/timer.js"></script>
    <script type="text/javascript" src="basecode/point.js"></script>
    <script type="text/javascript" src="basecode/rect.js"></script>
    <script type="text/javascript" src="basecode/entity.js"></script>
    <script type="text/javascript" src="basecode/button.js"></script>
    <script type="text/javascript" src="game.js"></script>
    <script type="text/javascript" src="asset.js"></script>
    <script type="text/javascript" src="play.js"></script>
    <script type="text/javascript" src="review.js"></script>
    <script type="text/javascript" src="cowboys.js"></script>
    <script type="text/javascript" src="romeo.js"></script>
    <script type="text/javascript" src="godot.js"></script>
    <script type="text/javascript" src="actor.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript" src="menu.js"></script>
    <script type="text/javascript" src="main.js"></script>

      <style>
    @font-face {
        font-family: "script";
        src: url(fonts/script.ttf);
    }
    </style>

</head>
<body>
    <canvas style="border:0px solid #000000;" id="canvas">
    
    </canvas>
</body>
<?php die()?>
</html>